.btn-group .btn{
  width: 50px
}

.btn:hover{
  background: #00000000;
    color: #6C757D;
}

@font-face {
  font-family: 'DSEG7';
  src: url('DSEG7Classic-Regular.woff');
}

.card-body p{
  font-family: 'DSEG7';
  font-size: 40pt;
}